<button id="popupButton" onclick="
    initializePopup();
    document.getElementById('overlay').style.display = 'block'; 
    document.getElementById('popupWindow').style.display = 'block'; 
">
    View Queries
</button>

<div id="overlay"></div>
<div id="popupWindow">
    <table>
        <thead>
            <tr>
                <th>Query #</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="query-text" id="query1View"></td>
            </tr>
            <tr>
                <td>2</td>
                <td class="query-text" id="query2View"></td>
            </tr>
            <tr>
                <td>3</td>
                <td class="query-text" id="query3View"></td>
            </tr>
        </tbody>
    </table>
    <div style="display: flex; justify-content: center;">
        <button style="margin-top: 20px;" class="close-button" onclick="
            document.getElementById('overlay').style.display = 'none';
            document.getElementById('popupWindow').style.display = 'none';
        ">Close</button>
    </div>
</div>